.form{
    width: calc(100% - 40px);
}

.filterItem{
    font-size: 15px;
}
.filterItem>legend{
    font-size: 20px;
}

.searchButton {
    background-color: #4c79c7;

}

.resetButton {
    background-color: #5d93a5;
}

